.custom-card {
  height: 450px;
  width: 280px;
  margin-right: 20px;
}

.card-content {
  border-radius: 10px;
  height: 450px;
  width: 280px;
  box-shadow: 0 0 14.5243px 5.0835px rgb(0 0 0 / 15%);
  background: linear-gradient(180deg, #f29fff, #878cff);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card-content:hover .card-image,
.card-content:hover .card-vid {
  transform: scale(1.09);
}

.card-image {
  border-radius: 10px;
  height: 450px;
  width: 280px;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);

  object-fit: cover;
}

.card-vid {
  border-radius: 10px;
  height: 450px;
  width: 280px;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  object-fit: cover;
}

/* .card-image:hover {
  transform: scale(1.09);
} */

.left-one {
  position: absolute;
  top: 20px;
  left: 16px;
  z-index: 4;
  padding: 2.5px 14px;
  background-color: white;
  color: rgb(116, 23, 234);
  border-radius: 15px;
  font-size: 16px;
}

.left-two {
  position: absolute;
  top: 50px;
  left: 16px;
  z-index: 4;
  padding: 2.5px 14px;
  background-color: rgb(116, 23, 234);
  color: white;
  border-radius: 15px;
  font-size: 13px;
}

.right-one {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 4;
  /* padding: 1px; */
  background-color: white;
  color: white;
  border-radius: 50%;
  font-size: 19px;

  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.hover-card {
  height: 150px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  width: 100%;

  color: white;
  background-image: linear-gradient(transparent, black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content:hover .hover-card {
  transform: translateY(0);
}
