@font-face {
  font-family: "AirbnbCereal";
  src: url("./fonts/AirbnbCereal/AirbnbCerealMedium.ttf");
}
@font-face {
  font-family: "AirbnbCerealLight";
  src: url("./fonts/AirbnbCereal/AirbnbCerealLight.ttf");
}
@font-face {
  font-family: "AirbnbCerealBook";
  src: url("./fonts/AirbnbCereal/AirbnbCerealBook.ttf");
}

body {
  margin: 0;
  font-family: "AirbnbCereal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
