.custom-card-2 {
  /* height: 330px; */
  width: 300px;
  margin: 0px auto 30px auto;
  /* margin-right: 20px;
  margin-bottom: 30px; */
}

.card-content-2 {
  display: flex;
  border-radius: 10px;
  height: 480px;
  width: 300px;
  box-shadow: 0 0 14.5243px 5.0835px rgb(0 0 0 / 15%);
  background: linear-gradient(180deg, #f29fff, #878cff);
  overflow: hidden;
  position: relative;
}

.card-image-2 {
  border-radius: 10px;
  /* height: 330px; */
  width: 300px;
}

.card-vid-2 {
  border-radius: 10px;
  width: 300px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .custom-card-2,
  .card-content-2,
  .card-image-2,
  .card-vid-2 {
    width: 300px;
  }
}
